<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width ,initial-scale=1.0, minimum-scale=1.0 ,  maximum-scale=1.0 , user-scalable=no" />
    {{!--
    <meta name="viewport" content="width=device-width,initial-scale=1" /> --}}
</head>

<body>
    <div class="page page-dashboard">
        <aside class="page_aside aside  vertical vertical_big">
            <div class=" text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical_small">
                <a href="#" class="nav_button nav_button_active click">
                    <span class="icon nav_button_icon" style="background-image:url('/img/svg/dashboard_nav/home.svg')">

                    </span>
                    <span class="text text_light">Home</span>
                </a>
                <a href="#" class="nav_button  click">
                    <span class="icon nav_button_icon"
                        style="background-image:url('/img/svg/dashboard_nav/orders.svg')">

                    </span>
                    <span class="text text_light">Orders</span>
                </a>
                <a href="#" class="nav_button  click">
                    <span class="icon nav_button_icon"
                        style="background-image:url('/img/svg/dashboard_nav/products.svg')">

                    </span>
                    <span class="text text_light">Products</span>
                </a>

            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text-small">
                <div class="header_search relative">
                    <input placeholder="Search" type="text" class="text field field_header">
                    <span class="icon icon_header_search"
                        style="background-image:url('/img/svg/dashboard_nav/header/search.svg')"></span>
                    <span class="icon icon_header_settings icon_button icon_color_blue click"
                        style="background-image:url('/img/svg/dashboard_nav/header/settings.svg')"></span>
                </div>
                <div class="header_icon_list">
                    <span class="icon icon_header_settings icon_header_set1 icon_button icon_color_pink click"
                        style="background-image:url('/img/svg/dashboard_nav/header/set1.svg')"></span>
                    <span class="icon  icon_header_settings icon_header_set2 icon_button icon_color_blueLight click"
                        style="background-image:url('/img/svg/dashboard_nav/header/set2.svg')"></span>
                    <span class="icon icon_header_settings icon_header_set3 icon_button icon_color_pink click"
                        style="background-image:url('/img/svg/dashboard_nav/header/set3.svg')"></span>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_block">
                    <div class="analytic analytic_double analytic_purple">
                        <span class="icon analytic_button  icon_button icon_color_purple click"
                            style="background-image:url('/img/svg/dashboard_nav/money.svg')"></span>

                        <div class="relative vertical vertical_big">
                            <div class="analytic_title text text_light">$500.00</div>
                            <div class="text text_small text_black30  ">Total earning</div>
                            <span class="icon analytic_arrow"
                                style="background-image:url('/img/svg/dashboard_nav/arrow.png')"></span>
                        </div>
                    </div>
                    <div class="analytic analytic_double analytic_blue">
                        <span class="icon analytic_button  icon_button icon_color_blue click"
                            style="background-image:url('/img/svg/dashboard_nav/bag.svg')"></span>

                        <div class="relative vertical vertical_big">
                            <div class="analytic_title text text_light">$961</div>
                            <div class="text text_small text_black30  ">Total order</div>

                        </div>
                    </div>

                    <div class="analytic analytic_single  analytic_blue">
                        <span class="icon analytic_button  icon_button icon_color_blue click"
                            style="background-image:url('/img/svg/dashboard_nav/money.svg')"></span>

                        <div class="relative vertical vertical_small">
                            <div class="analytic_title text  text_small20 text_light">$203k</div>
                            <div class="text text_small text_black30  ">Total income</div>

                        </div>

                    </div>
                    <div class="analytic analytic_single  analytic_transperent">
                        <span class="icon analytic_button  icon_button icon_color_pink click"
                            style="background-image:url('/img/svg/dashboard_nav/box.svg')"></span>

                        <div class="relative vertical vertical_small">
                            <div class="analytic_title text text_bold  text_small20 ">$203k</div>
                            <div class="text text_small text_black70  ">Total income</div>

                        </div>

                    </div>
                </section>
            </div>
            <div class="layout">
                <div class="main main_double">
                    <div class="box analytic   analytic_table  ">
                        <h1 class="text text_bold text_small24">Purchase list</h1>
                        <div class="divider"></div>
                        <div class="table">
                            <div class="vertical vertical_small">
                                <p class="text ">ID437661</p>
                                <p class="text ">May 11, 2023, 14:21</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text ">AirOn ProCam</p>
                                <p class="text ">7/8 USB Type-C</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text ">132.32 EUR</p>
                                <p class="text  text_red">Not paid</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text">Customer</p>
                                <p class="text ">robin@com.de</p>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <div class="table">
                            <div class="vertical vertical_small">
                                <p class="text">ID437661</p>
                                <p class="text">May 11, 2023, 14:21</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text ">PHILIPS Essential</p>
                                <p class="text">HD9200/90</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text ">543 USD</p>
                                <p class="text  text_green">Pay by Stripe</p>
                            </div>
                            <div class="vertical vertical_small">
                                <p class="text">Customer</p>
                                <p class="text">dima@com.ua</p>
                            </div>
                        </div>
                    </div>
                    <form action="#">
                        <div class="box analytic box400  ">
                            <h1 class="text text_bold text_small24">Payment</h1>

                            <div class="divider"></div>

                            <div class="vertical">
                                <div class="text">
                                    <input type="radio" id="credit" name="contact" />
                                    <label for="credit">Cradit Card</label>
                                </div>
                                <div class="text">
                                    <input type="radio" id="debit" name="contact" />
                                    <label for="debit">Debit Card</label>
                                </div>
                                <div class="text">
                                    <input type="radio" id="credit" name="contact" />
                                    <label for="credit">PayPal</label>
                                </div>
                            </div>
                            <div class="input_double">
                                <div class=" vertical  vertical_small">
                                    <label for="debit">Name on card</label>
                                    <input type="text" class='field field_input ' id="debit" name="firstname">
                                </div>
                                <div class=" vertical  vertical_small">
                                    <label for="credit">Credit card number</label>
                                    <input type="text" class='field field_input ' id="credit" name="lastname">
                                </div>
                            </div>
                            <div class="input_double">
                                <div class=" vertical  vertical_small">
                                    <label for="expiration">Expiration</label>
                                    <input type="text" class='field field_input ' id="expiration" name="expiration">
                                </div>
                                <div class=" vertical  vertical_small">
                                    <label for="cvv">CVV</label>
                                    <input type="text" class='field field_input ' id="cvv" name="cvv">
                                </div>
                            </div>


                            <div class="divider"></div>


                            <div class="input_double">

                                <div class="relative click vertical vertical_small">
                                    <p>Country</p>
                                    <div class="field field_select">
                                        <span class="text text_light">Choose...</span>
                                    </div>

                                    <select class="field_item_select" name="" id="">
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="UK">UK</option>
                                        <option value="USA">USA</option>

                                    </select>
                                </div>


                                <div class="relative click vertical vertical_small">
                                    <p>State</p>
                                    <div class="field field_select">
                                        <span class="text text_light">Choose...</span>
                                    </div>

                                    <select class="field_item_select field_input" name="country" id="country">
                                        <option value="Florida">Florida</option>
                                        <option Washington="Washington">Washington</option>
                                        <option value="Texas">Texas</option>

                                    </select>
                                </div>

                            </div>
                            <div class="divider"></div>
                            <a class="nav_button nav_button_active click text text_light width100" href="#">
                                Continue to checkout
                            </a>



                    </form>
                </div>
        </main>

    </div>
</body>

</html>