{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>Приклади CSS</h1>

    <a type="button" href="/template-1" class="btn btn-primary">Template-1</a>
    <a type="button" href="/template-2" class="btn btn-primary">Template-2</a>
    <a type="button" href="/template-3" class="btn btn-primary">Template-3</a>
    <a type="button" href="/template-4" class="btn btn-primary">Template-4</a>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}