<div class="p-5">
    <h1>Приклади CSS</h1>

    <a type="button" href="/template-1" class="btn btn-primary">Template-1</a>
    <a type="button" href="/template-2" class="btn btn-primary">Template-2</a>
    <a type="button" href="/template-3" class="btn btn-primary">Template-3</a>
    <a type="button" href="/template-4" class="btn btn-primary">Template-4</a>
    <a type="button" href="/template-5" class="btn btn-primary">Template-5</a>
    <a type="button" href="/template-6" class="btn btn-primary">Template-6</a>
    <a type="button" href="/template-7" class="btn btn-primary">Template-7</a>
    <a type="button" href="/slack" class="btn btn-primary">Slack</a>
</div>