<div class="card" id="{{id}}">
    <img class="img_card" src="{{photo}}" alt="photo">
    <h2 class="card_name">{{name}}</h2>
    <p class="card_description">{{description}}</p>
    <a href="#" class="read_all">Read All</a>
    {{#if isNew}}<div class="isNew">NEW</div>{{/if}}
</div>