{{#with data}}
<div class="post">
    <strong class="post_title">{{title}}</strong>
    <div class="post_info">{{date}} by <span class="post_author">{{author}}</span></div>
    <div class="post_description">{{description}}</div>
    <a href="#">Continue reading</a>
</div>
{{/with}}